Checks: '
    bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-branch-clone,
    -bugprone-casting-through-void,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-macro-parentheses,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-narrowing-conversions,
    -bugprone-reserved-identifier,
    clang-analyzer-*,
    -clang-analyzer-optin.core.EnumCastOutOfRange,
    -clang-analyzer-optin.cplusplus.VirtualCall,
    -clang-analyzer-security.ArrayBound,
    -clang-diagnostic-missing-field-initializers,
    performance-*,
    -performance-enum-size,
    -performance-no-int-to-ptr'
