*~
.*.swp
*.o
*.lo
*.la
*.bz2
*.gir
*.typelib
*.stamp
*-enum-types.[ch]
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
.deps
.libs
autom4te.cache
intltool-*
gtk-doc.make
TAGS
INSTALL
ABOUT-NLS
*.pc
cscope.*out
thermald
thd_dbus_interface.h
.cproject
.project
*thermald.service
.dirstamp
version.xml
.qmake.stash
moc_*.cpp
moc_*.h
ui_*.h
ThermalMonitor
